.all {
  height: 100vh;
}

.mid-margin {
  margin: 0 30px;
}

.text-box {
  width: 100%;
  /* UI Properties */
  text-align: center;
  font: italic normal bold 100px/100px Roboto Condensed;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.left-border {
  width: 90%;
  height: 12px;
  background: #ED494C;
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 58px);
  top: 50%;
}



.right-border {
  width: 90%;
  height: 12px;
  background: #ED494C;
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 58px);
  top: 50%;
}

.left-border-white {
  width: 80%;
  height: 16px;
  background: white;
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 58px);
  top: 50%;
}

.right-border-white {
  width: 80%;
  height: 16px;
  background: white;
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 58px);
  top: 50%;
}

.inside-right-border {
  width: 75%;
  height: 12px;
  background-color: black;
  transform: rotate(-45deg);
  position: absolute;
  left: calc(50% - 55px);
  top: 52%;

}

.inside-left-border {
  width: 75%;
  height: 12px;
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  left: calc(50% - 55px);
  top: 51%;
}

.center {
  background-color: black;
  width: 8px;
  height: 8px;
}

.start-btn {
  width: 540px;
  height: 89px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 8px;
  text-align: center;
  font: normal normal bold 48px/48px Roboto Condensed;
  letter-spacing: 0px;
  color: #FF6D70;
  margin-top: 24px;
}

.start {
  height: 540px;
  width: 540px;
  margin-top: 74px
}



.x-box {
  width: 64px;
  height: 64px;
  /* UI Properties */
  background: black 0% 0% no-repeat padding-box;
  border: 4px solid #000000;
  border-radius: 8px 0px 0px 8px;
  /* border-right: none; */
}

.point-bar {
  width: 171px;
  height: 64px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 4px solid #000000;
  border-right: none;
  border-left: none;
}

.point-box {
  width: 48px;
  height: 57px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 48px/57px Roboto Condensed;
  letter-spacing: 0px;
  color: #000000;
}

.black-box {
  width: 70px;
  height: 71px;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  font: normal normal bold 20px/24px Roboto Condensed;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.o-box {
  width: 64px;
  height: 64px;
  /* UI Properties */
  background: #ED494C 0% 0% no-repeat padding-box;
  border: 4px solid #000000;
  border-radius: 0px 8px 8px 0px;
}

.game-zone {
  width: 540px;
  height: 540px;
}

.mark-zone {
  width: 96px;
  height: 96px;
}



.inside-border {
  border: #ED494C solid 4px;
}

.inside-border:nth-child(1),
.inside-border:nth-child(2),
.inside-border:nth-child(3) {
  border-top: none;
}

.inside-border:nth-child(1),
.inside-border:nth-child(4),
.inside-border:nth-child(7) {
  border-left: none;
}

.inside-border:nth-child(3),
.inside-border:nth-child(6),
.inside-border:nth-child(9) {
  border-right: none;
}

.inside-border:nth-child(7),
.inside-border:nth-child(8),
.inside-border:nth-child(9) {
  border-bottom: none;
}


.your-turn {
  font: normal normal bold 20px/24px Roboto Condensed;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 8px;
}

.restart-btn {
  width: 540px;
  height: 89px;
  /* UI Properties */
  background: #ED494C 0% 0% no-repeat padding-box;
  border-radius: 8px;
  margin-top: 23.5px;
  font: normal normal bold 48px/48px Roboto Condensed;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.win-image-x {
  width: 540px;
  height: 540px;
}

.win-image-x-left {
  width: 347px;
  height: 32px;
  background: #ED494C;
  transform: rotate(45deg);
  position: absolute;
}

.win-image-x-right {
  width: 347px;
  height: 32px;
  background: #ED494C;
  transform: rotate(-45deg);
  position: absolute;
}

.draw-image-x-left {
  width: 347px;
  height: 32px;
  background: #ED494C;
  transform: rotate(45deg);
  position: absolute;
}

.draw-image-x-right {
  width: 347px;
  height: 32px;
  background: #ED494C;
  transform: rotate(-45deg);
  position: absolute;
}

.win-image-o {
  width: 540px;
  height: 540px;
  position: relative;
}

.draw-box {
  width: 540px;
  height: 540px;
  position: relative;
}

.draw {
  width: 411px;
  height: 489px;
  /* UI Properties */
  text-align: center;
  font: italic normal bold 154px/154px Roboto Condensed;
  letter-spacing: 0px;
  color: #FF6D70;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
  z-index: 100;
  margin-top: 52px;
}




.winner {
  width: 538px;
  height: 181px;
  /* UI Properties */
  text-align: center;
  font: italic normal bold 154px/154px Roboto Condensed;
  letter-spacing: 0px;
  color: #FF6D70;
  z-index: 100;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff;
}

.row>.game-col {
  aspect-ratio: 1/1;
  width: 180px;
}

.back-image-o {
  aspect-ratio: 1/1;
  width: 405px
}

.draw-box>.draw-image-x-left,
.draw-box>.draw-image-x-right {
  width: 244px;
  right: 50%;
  height: 16px
}

.draw-image-o-outside {
  height: 203px;
  width: 203px;
  background-color: #ED494C;
  border-radius: 100%;
  position: absolute;
  left: 50%
}

.draw-image-o-inside {
  height: 75%;
  width: 75%;
  border-radius: 100%;
  background-color: #FF6D70
}

@media screen and (max-width: 414px) {

  .start,
  .start-btn {
    max-width: 414px;
  }

  .text-box {
    font-size: 75px;
  }

  .x-box,
  .point-bar,
  .point-box,
  .black-box,
  .o-box {
    width: 30%;
  }

  .row>.game-col {
    width: 33%;
    aspect-ratio: 1/1;
  }

  .win-image-x {
    width: 414px;
    height: 540px;
  }

  .winner {
    width: 414px;
    font-size: 120px;
  }

}

@media screen and (max-width: 375px) {

  .start,
  .start-btn {
    max-width: 375px;
  }

  .mid-margin {
    margin: 0;
  }

  .win-image-o,
  .win-image-x,
  .game-zone,
  .drawImage {
    width: 375px;
    height: 500px;
    margin-top: 0;
  }

  .back-image-o {
    width: 375px;
  }

  .winner,
  .draw {
    width: 375px;
    font-size: 100px;
  }

  .restart-btn {
    margin-top: 0;
  }

  .draw-box>.draw-image-x-left,
  .draw-box>.draw-image-x-right {
    width: 200px;
    right: 50%;
    height: 16px
  }
  .draw-image-o-outside {
    height: 180px;
    width: 180px;
    background-color: #ED494C;
    border-radius: 100%;
    position: absolute;
    left: 50%
  }
}

@media screen and (max-width: 320px) {

  .start,
  .start-btn {
    max-width: 320px;
  }

  .text-box {
    font-size: 50px;
  }

  .mid-margin {
    margin: 0;
  }

  .left-border,
  .right-border,
  .left-border-white,
  .right-border-white,
  .inside-right-border,
  .inside-left-border {
    left: 0;
  }

  .game-zone {
    height: auto;
    margin-bottom: 160px;
  }
  .winner,
  .draw,
  .draw-box,
  .drawImage {
    width: 320px;
    font-size: 80px;
  }
  
  .back-image-o {
    width: 320px;
  }
  .draw-box>.draw-image-x-left,
  .draw-box>.draw-image-x-right {
    width: 180px;
    right: 50%;
    height: 16px
  }
  .draw-image-o-outside {
    height: 150px;
    width: 150px;
    background-color: #ED494C;
    border-radius: 100%;
    position: absolute;
    left: 50%
  }
  .restart-btn{
    margin-top: 30px;
  }



}